[submodule "modules/glm"]
	path = modules/glm
	url = git@github.com:g-truc/glm
[submodule "modules/stb"]
	path = modules/stb
	url = git@github.com:nothings/stb
[submodule "modules/imgui"]
	path = modules/imgui
	url = git@github.com:ocornut/imgui.git
